.wrapper {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  margin: 10em auto;
  max-width: 100em;
  width: 90%;
  gap: 6em;
}

.mobile {
  z-index: 50;
  position: relative;
  background: #119088;
  mix-blend-mode: normal;
  box-shadow: 0px 4px 20px 4px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  padding: 2.5em 2.5em 0;
  display: flex;
  justify-content: space-between;
  gap: 2em;
  z-index: -4;

  &_dots {
    position: absolute;
    right: -10%;
    top: -10%;
  }

  &_bg {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    z-index: -2;
  }

  &_logo {
    align-self: flex-start;
    width: 15%;
  }
  &_phone {
    align-self: flex-end;
  }
  &_info {
    color: #fff;
    align-self: flex-end;
    padding: 4em 2em;
  }
  &_actions {
    display: flex;
    gap: 2em;
    &_btn {
    }
  }
}

@media screen and (max-width: 1200px) {
  .mobile {
    flex-direction: column;
    overflow: hidden;
    height: 60em;

    &_dots {
      display: none;
    }

    &_logo {
      align-self: flex-end;
      width: 10em;
    }

    &_phone {
      position: absolute;
      left: 0;
      bottom: 0;
      transform: translateX(-50%);
    }

    &_info {
      align-self: flex-start;
      margin-left: 15em;
    }

    &_actions {
      flex-direction: column;
      gap: 1em;
    }
  }
}
