.landing {
  display: flex;
  font-size: 1rem;
  flex-direction: column;
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 8em;

  &_text {
    flex: 4;
    display: flex;
    flex-direction: column;
    gap: 2.5em;
    margin-left: 5em;

    h1 {
      line-height: 1.5em;
      font-size: 5.6em;
      max-width: 17ch;
    }
    p {
      max-width: 45ch;

      font-size: 2em;
      color: #5e5e5e;
    }
    &_actions {
      font-size: 1.6em;
      margin-bottom: 2em;
      display: flex;
      gap: 1.5em;
    }
  }
  &_img {
    flex: 5;
  }
}

@media screen and (max-width: 1660px) {
  .content {
    &_text {
      flex: 1;
    }
    &_img {
      flex: 1;
    }
  }
}

@media screen and (max-width: 1200px) {
  .content {
    flex-direction: column-reverse;

    &_img {
      align-self: flex-end;

      transform: translateX(20%);
      max-width: 100em;
      width: 80%;
    }

    &_text {
      margin-left: unset;
      h1 {
        font-size: 4em;
      }
      &_actions {
        justify-content: space-between;

        button {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 660px) {
  .content {
    margin: 0 2.8em;
  }
}
