.search {
  font-size: 1.6em;
  position: relative;
  &_field {
    padding: 1em 2em;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #ffffff;
    box-sizing: border-box;
    border-radius: 10px;
  }

  &_icon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: help;
  }

  &:hover {
    .tooltip {
      display: block;
    }
  }
}

.tooltip {
  background-color: white;
  position: absolute;
  bottom: 100%;
  right: -6em;
  padding: 1em;
  border-radius: 0.5em;
  margin: 1em;
  display: none;

  &::before {
    content: "";
    position: absolute;
    width: 2em;
    height: 1em;
    display: block;
    background-color: #fff;
    top: 99%;
    left: 0.7em;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
  }

  &_heading {
    color: #27ba4f;
  }

  p {
    font-size: 0.8em;
  }
}
