.body {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.linkbox {
  &_field {
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid;
    border-radius: 4px;
    font-size: 1.6em;
    padding: 1em 1.5em;
    width: 100%;
    color: #ffffff;
  }

  p {
    font-weight: 400;
    margin-top: 1em;
    font-size: 1.2em;
  }
}

.submitedLinks {
  &_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
    &_icon {
      height: 1.5em;
      cursor: pointer;
    }
  }
}
